* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
img {
  width: 100%;
  object-fit: cover;
}
#quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.527);
  color: white;
  border-radius: 10px;
  padding: 28px;
  font-size: 1.2em;
  line-height: 30px;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.411);
  transition: 0.3s;
}

#quote:hover {
  background: rgba(0, 0, 0, 0.568);
  transform: scale(1.03) translate(-50%, -50%);
}

#quote em {
  display: block;
  text-align: right;
  color: grey;
}
